 ------
 Motivation
 ------
 ${project.properties.siteAuthors}
 ------
 ------

Motivation

  We are a study group of three business informatics students (Michael Behr, {{{https://www.xing.com/profiles/Martin_Kampa3}Martin Kampa}}
  and {{{https://www.xing.com/profiles/Huina_Zhu2}Huina Zhu}})
  from Reutlingen University in Germany. The ${project.name} results
  out of a project on our university supervised by our mentor
  {{{https://www.xing.com/profiles/Johannes_Schneider14}Johannes Schneider}}.

  Our vision is to provide a Maven-Plugin that enables you to detect
  {{{./version_clash.html}version clashes}} in your java-projects and visualize them in different formats.
  Since our first release it has been possible to visualize the results in the {{{./usage_commandPrompt.html}console}}.
  Our actual release ships with a phase-goal that enables you to detect version clashes
  automatically and cancel the build-cycle if necessary. Furthermore our Plugin provides a powerful {{{./usage_html.html}html-goal}} which visualizes the Clashes in HTML.

  For the improvement of our plugin we rely on your feedback. So feel free to contact us in any case at {{{mailto:info@clashinspector.com}info@clashinspector.com}}.