 ------
 Version Preview and History
 ------
 ${project.properties.siteAuthors}
 ------
 ------

Version Preview & History

  Release 0.9:

  - <<{{{./html-mojo.html}${project.artifactId}:html}} >> goal added

  - <<{{{./listPhase-mojo.html}${project.artifactId}:listPhase}} >> goal added

  Release 0.3:

  - <<{{{./list-mojo.html}${project.artifactId}:list}} >> goal added

  - <<{{{./tree-mojo.html}${project.artifactId}:tree}} >> goal added
