
body.topBarDisabled {
    padding-top: 20px;
}
body {
    background-color: #FFFFFF;
    color: #333333;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 20px;
    margin: 0;
}



.container-fluid:before, .container-fluid:after {
    content: "";
    display: table;
    line-height: 0;
}
.container-fluid:after {
    clear: both;
}
.container-fluid:before, .container-fluid:after {
    content: "";
    display: table;
    line-height: 0;
}
.container-fluid {
    padding-left: 20px;
    padding-right: 20px;
}




.pull-left {
    padding-bottom: 10px;
    padding-left: 10px;
	float: left;
}

.pull-right {
    padding-bottom: 10px;
    padding-right: 10px;
	float: right;
}

.clear {
    clear: both;
    visibility: hidden;
}

a {
    color: #0088CC;
    text-decoration: none;
}

img {
    border: 0 none;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}

.clear hr {
    display: none;
}

hr {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #EEEEEE -moz-use-text-color #FFFFFF;
    border-image: none;
    border-left: 0 none;
    border-right: 0 none;
    border-style: solid none;
    border-width: 1px 0;
    margin: 20px 0;
}

.breadcrumb {
    background-color: #F5F5F5;
    border-radius: 4px;
    list-style: none outside none;
    margin: 0 0 20px;
    padding: 8px 15px;
}

.breadcrumb li {
    display: inline-block;
    text-shadow: 0 1px 0 #FFFFFF;
}
li {
    color: #404040;
	line-height: 20px;
}
.breadcrumb .divider {
    color: #CCCCCC;
    padding: 0 5px;
}


article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
    display: block;
}


.row:before, .row:after {
    content: "";
    display: table;
    line-height: 0;
}
.row:after {
    clear: both;
}
.row:before, .row:after {
    content: "";
    display: table;
    line-height: 0;
}
.span12 {
    width: 940px;
}
[class*="span"] {
    float: left;
    margin-left: 20px;
}


    *{ margin:0; padding:0;    border-color: #808080;list-style:none;} 
	body{overflow-y:hidden;font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;font-size:14px;line-height:20px;color:#333;}
   
	#nav{padding:10px;border: 1px solid #E3E3E3;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
    margin-bottom: 20px;
    min-height: 20px;
	overflow:auto;
		height: 570px;
	}
	
    #nav a { text-decoration:none;font-size:14px; line-height:24px;
	width:180px;
	display:block;
	border-width:1px;
	border-style:solid;
	padding-left: 10px;
	word-wrap:break-word;

	} 
    #nav ul{ margin-bottom:5px;} 
    #nav.dyn li ul{ display:none;} 
    #nav.dyn li ul.show{ display: block;
    left: 190px;
    position: relative;
    margin-top: -50px;
	
	
} 
    #nav.dyn li{ padding-left:22px;padding-bottom:10px; } 
    #nav.dyn li.parent{    background:url(../img/add.gif) 210px 10px no-repeat;}
    #nav.dyn li.open{ background:url(../img/minus.gif) 210px 10px no-repeat;}
	#left {
    position:absolute; top:0; left:0; width:800px; height:100%;
	height:600px;
	padding-top:135px;
	padding-left:15px;
}
#right
{
    margin-left:810px; height:600px; 
	width:280px;
}
#nav_right{
    
    margin-bottom: 20px;
    min-height: 20px;
	overflow:hidden;
	height: 600px;
	}
	 #nav_right a { text-decoration:none;
	width:250px;
	display:block;
	border: 1px solid #E3E3E3;
	border-radius: 4px;
	padding-left: 10px;
	word-wrap:break-word;
	} 
	.details{
		height:150px;
		}
	.clash_list{
		height:250px;
		}
	.statistics{
		height:185px;
		}
	.safe_version{
		border-color:#0F0;
	}
	.unsafe_version{
		border-color:#FC0;
	}
	
#leftMain{
	float: left;
	width: 70%;
}

#rightMain{
	float: right;
	width: 30%;
}

#main{
    min-height: 200px;
}
	
.depNode{
    border-radius: 4px;
    display: block;
    font-size: 14px;
    line-height: 24px;
    padding: 8px 15px;
    text-decoration: none;
    width: 180px;
    word-wrap: break-word;
	background-color: #F5F5F5;
}
.depNode hr{
    border-style: solid none;
    border-width: 1px 0;
    margin: 1px 0;
}
.depNode span{
    width: 100%;
	display: block;
}



